# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/input/input3-custom.txt
/input/input3-highvalue.txt
/input/input3-bruteforce.txt
/input/input2-highvalue.txt
/input/input2-bruteforce.txt
/input/input-bruteforce.txt
/input/input-highvalue.txt
/input/input-custom.txt
/input/input2-custom.txt
/input/input-highvalue.txt
/input/input-custom.txt
/input/input-bruteforce.txt
